@keyframes move-snowman {
  0% {transform: translate(0,0);}
  100% {transform: translate(calc(100vw - 300px), 70px) rotate(-15deg);}
}

.snowman {
  position: absolute;
  left: 0;
  top: 80px;
  animation-name: move-snowman;
  width: 250px;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes move-skiing-right {
  0% {transform: translate(0px, 0px) rotate(-5deg)}
  15% {transform: translate(-5px, -2px) rotate(0deg)}
  30% {transform: translate(0px, 0px) rotate(-5deg)}
  45% {transform: translate(-5px, -2px) rotate(0deg)}
  60% {transform: translate(0px, -0px) rotate(-5deg)}
  75% {transform: translate(-5px, -2px) rotate(0deg)}
  100% {transform: translate(0px, 0px) rotate(0deg)}
}

.skiing-right {
  animation-name: move-skiing-right;
  animation-duration: 5s;
  animation-iteration-count: 1;
}

@keyframes move-skiing-left {
  0% {transform: translate(-5px, 0px) rotate(0deg)}
  15% {transform: translate(0px, 2px) rotate(-5deg)}
  30% {transform: translate(-5px, 0px) rotate(0deg)}
  45% {transform: translate(0px, 2px) rotate(-5deg)}
  60% {transform: translate(-5px, 0px) rotate(0deg)}
  75% {transform: translate(0px, 2px) rotate(-5deg)}
  100% {transform: translate(0px, 0px) rotate(0deg)}
}

.skiing-left {
  animation-name: move-skiing-left;
  animation-duration: 5s;
  animation-iteration-count: 1;
}

@keyframes left-leg {
  0% {transform: rotate(0deg)}
  15% {transform: rotate(-5deg)}
  30% {transform: rotate(0deg)}
  45% {transform: rotate(-5deg)}
  60% {transform: rotate(0deg)}
  75% {transform: rotate(-5deg)}
  100% {transform: rotate(0deg)}
}

.left-leg {
  animation-name: left-leg;
  animation-duration: 5s;
  animation-iteration-count: 1;
}

@keyframes right-leg {
  0% {transform: rotate(-5deg)}
  15% {transform: rotate(0deg)}
  30% {transform: rotate(-5deg)}
  45% {transform: rotate(0deg)}
  60% {transform: rotate(-5deg)}
  75% {transform: rotate(0deg)}
  100% {transform: rotate(0deg)}
}

.right-leg {
  animation-name: right-leg;
  animation-duration: 5s;
  animation-iteration-count: 1;
}

@keyframes move-hands {
  0% {transform: rotate(0deg);}
  15% {transform: rotate(30deg);}
  30% {transform: rotate(-20deg);}
  45% {transform: rotate(30deg);}
  60% {transform: rotate(-20deg);}
  75% {transform: rotate(20deg);}
  100% {transform: rotate(0deg);}
}

.hand, .glove, .stick, .stick-tip {
  transform-origin: 14px 10px 10px;
  animation-name: move-hands;
  animation-duration: 5s;
  animation-iteration-count: 1;
}

@keyframes move-left-glove {
  0% {transform: rotate(0deg);}
  15% {transform: rotate(-10deg);}
  30% {transform: rotate(10deg);}
  45% {transform: rotate(-10deg);}
  60% {transform: rotate(10deg);}
  75% {transform: rotate(-10deg);}
  100% {transform: rotate(0deg);}
}
.left-glove {
  transform-origin: 14px 10px 10px;
  animation-name: move-left-glove;
  animation-duration: 5s;
  animation-iteration-count: 1;
}

@keyframes move-scarf {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(-35deg);}
  50% {transform: rotate(5deg);}
  75% {transform: rotate(-35deg);}
  100% {transform: rotate(0deg);}
}

.scarf {
  transform-origin: 14px 10px 10px;
  animation-name: move-scarf;
  animation-duration: 5s;
  animation-iteration-count: 1;
}

@keyframes hidden-track {
  0% {opacity: 1}
  50%, 100% {opacity: 0;}
}

.track {
  animation-name: hidden-track;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
